
@{
    ViewBag.Title = "Huy";
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";
}

@* CSS *@
<link href="~/css/bootstrap.css" rel="stylesheet" />
<link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />
@* JS for angularJS and Datatable *@
<script src="~/Scripts/jquery.js"></script>
<script src="~/Scripts/jquery.dataTables.js"></script>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-datatables.js"></script>
@* JS for our angularjs module, controller etc. *@
<script src="~/Scripts/myApp.js"></script>
@* HTML *@

<div class="container-fluid" ng-app="DeviceApp" ng-controller="DeviceController">
    <h1 class="mt-4">Danh Mục Thiết Bị</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
        <li class="breadcrumb-item active">Quản mục thiết bị</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <strong class="card-title">Vùng Tìm Kiếm</strong>
        </div>
        <div class="card-body">
            <div class="col col-md-12">
                <div class="input-group">
                    <input type="text" id="input1-group2" name="input1-group2" placeholder="Nhập từ khóa ..." class="form-control"><br />
                    <div class="input-group-btn">
                        <button class="btn btn-primary">
                            <i class="fa fa-search"></i> Search
                        </button>
                    </div>
                </div>
                <br />
                <div class="input-group ">
                    <label for="checkbox1" class="form-check-label col-md-4 ">
                        <input type="checkbox" id="checkbox1" name="checkbox1" value="option1" class="form-check-input">Lọc Theo điều kiện
                    </label>
                    <label for="checkbox1" class="form-check-label col-md-4  ">
                        <input type="checkbox" id="checkbox1" name="checkbox1" value="option1" class="form-check-input">Lọc Theo
                    </label>
                    <label for="checkbox1" class="form-check-label col-md-4  ">
                        <input type="checkbox" id="checkbox1" name="checkbox1" value="option1" class="form-check-input">Lọc Theo điều kiện
                    </label>
                </div>
            </div>

        </div>


    </div>
    <div class="card mb-4">
        <div class="card-header"><i class="fas fa-table mr-1"></i>Kết Quả Tìm Kiếm</div>
        <div class="card-body">

            <div class="table-responsive">
                <table id="dataTable" class="table table-bordered table-striped text-center">

                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Thao tác</th>
                            <th>Số hiệu</th>
                            <th>Tên thiết bị</th>
                            <th> Phiên bản</th>
                            <th> Imei</th>
                            <th> Nhóm tàu</th>
                            <th> Ngày hết hạn</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="name in namesData">
                            <td>{{$index+1}}</td>
                            <td>
                                <a href="#" ng-click="ViewDetail(name.UserID)"><i class="fa fa-eye" style="color:aqua">as</i></a>|
                                <a href="#" data-ng-href="@Url.Action("EditDevice","Device", new {area = "Admin" })/{{a.UserID}}"><i class="fa fa-edit">edit</i></a>|
                                <a href="#" ng-click="Delete(name.UserID)"><i class="fa fa-times" style="color:red"></i></a>
                            </td>
                            <td>{{name.DeviceNo}}</td>
                            <td>{{name.DeviceName}}</td>
                            <td>{{}}</td>
                            <td>{{}}</td>
                            <td>{{}}</td>
                            <td>{{name.DateExpired}}</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Areas/Admin/AngularJS/Device/DeviceApp.js"></script>
</div>